@font-face {
    font-family: 'xiangsu';
    src: url('./fonts/ROBOTO-REGULAR.ttf');
    font-display: swap
}
@font-face {
    font-family: 'Candy';
    src: url('./fonts/ROBOTO-REGULAR.ttf');
    font-display: swap
}
@font-face{
    font-family:'zc' ;  /* 字体名自定义即可 */
    src:url('./fonts/ROBOTO-REGULAR.ttf') ; /* 字体文件路径 */
    font-display : swap;
  }
@font-face {
    font-family: 'roboto';
    src: url('./fonts/ROBOTO-REGULAR.ttf');
    font-display: swap;
    unicode-range: U+41-5A, U+61-7A, U+C0-FF;
}
@font-face {
    font-family: 'bb';
    src: url('./fonts/ROBOTO-REGULAR.ttf');
    font-display: swap;

}

/*代码颜色*/
/* .hljs-comment {
    color: #205375 !important;
} */
#article-container pre code{
    font-family: 'roboto',"HarmonyOS_Regular",'Candy'!important;
    font-weight: bold;
    color: black;
    font-size: 15px;
}
#article-container pre, #article-container figure.highlight{
    font-size: 15px !important;
    color :#396EB0 !important;
    background: #FAFAFA !important;
    font-weight: bold;
    border-radius: 16px;
}
.hljs-keyword, .hljs-selector-tag, .hljs-literal, .hljs-addition {
    color: #90AACB !important;
}
.hljs-addition, .hljs-built_in, .hljs-bullet, .hljs-code {
    color: #051367 !important;
}
#article-container figure.highlight table{
    background: #FAFAFA !important;
}
#article-container .highlight-tools{
    background: #005691 !important;
    color: white !important;
    border-radius: 10px 10px 0 0;
}
#article-container figure.highlight .hljs {
    color: #005691 !important;
    background: #FAFAFA !important;
}
.hljs-deletion, .hljs-number, .hljs-quote, .hljs-selector-class, .hljs-selector-id, .hljs-string, .hljs-template-tag, .hljs-type{
    color: #6FB2D2 !important;
}

/*哔哔*/
#bbTimeList{
    font-family: 'bb';
}


 /*头像*/
.card-widget.card-info .player-avatar img {
    height: 175px;
 }
.card-widget.card-info .play-bottom{
    height:0 !important;
}

#artitalk_main .shuoshuo_text{
      background-image: url(https://tva1.sinaimg.cn/large/006BdrJkgy1gtapoqtrifg30340340t0.gif)!important;
  }

#recent-posts>.recent-post-item,.layout_page>div:first-child:not(.recent-posts),.layout_post>#page,.layout_post>#post,.read-mode .layout_post>#post {
        /* background: var(--light_bg_color) */
        background: rgba(255,255,255,.15)
    }
    
#aside-content .card-widget{
        /* background: var(--light_bg_color) */
        background: transparent;
        -webkit-box-shadow: none; 
        box-shadow: none;
        transition: none;
        -moz-transition: none;
        -o-transition: none;
        -ms-transition: none 
    }
    [data-theme='light'].layout > div:first-child:not(.recent-posts){
        background: white !important
    }
    
    /* #web_bg {
        background: linear-gradient(90deg,rgba(247,149,51,.1),rgba(243,112,85,.1) 15%,rgba(239,78,123,.1) 30%,rgba(161,102,171,.1) 44%,rgba(80,115,184,.1) 58%,rgba(16,152,173,.1) 72%,rgba(7,179,155,.1) 86%,rgba(109,186,130,.1))
    } */


    /*顶栏*/
    #page-header.nav-visible #nav{
        border-radius: 16px;
    }
    #nav .menus_items .menus_item .menus_item_child{
        border-radius: 10px;
        padding: 3px;
    }
    #nav .menus_items .menus_item .menus_item_child li{
        border-radius: 8px;
    }
    @media screen and (max-width:776px) {
        #page-header.nav-visible #nav{
            width:95%;
            display: none;
        }
        div#nav-right{
            display:none !important;
        }
        bblogo{
            display: none;
        }
        #rightside{
            display:none;
        }
        a#te-home{
            font-size: 25px;
            top: -6px;
            left: 30px;
        }
    }
    nav
    span#name{
        z-index:102;
    }
    div#he-plugin-simple{
        z-index:102;
    }

    #page-header #nav #nav-right {
        position: absolute;
        right: 80px;
        top: 10px;
        z-index: 102
    }
    #nav.hide-menu #toggle-menu {
        right:0;
        width:0px;
        position: absolute;
        top: -4px;
    }

    @media screen and (max-width:776px){
        #he-plugin-simple[data-v-41ba7e2c]{
            display: none;
        }
    }
    [data-theme="dark"] #he-plugin-simple[data-v-41ba7e2c]{
        display: none;
    } 

    #nav #search-button {
        display: inline;
        padding: 0 .4rem 0 .4rem
    }

    #darkmode_navswitch {
        display: inline;
        padding: 0 .4rem 0 .4rem;
        position: relative
    }

    [data-theme='light'] #nav{
        font-size:1.4em !important;
        background: transparent;
    }
    [data-theme='dark'] #nav{
        background: transparent !important;
    }

    [data-theme='dark'] #nav a{
        color:rgba(255,255,255,0.7) !important;
    }

    [data-theme='light'] #nav a{
        color:#4c4948 !important;
        text-shadow:none !important;
    }

    #nav #blogname{
        text-shadow: none !important;
    }

    #nav #menus {
        display: flex;
        justify-content: center;
        width: 97%;
        position: absolute;
        height: 60px;
        top: 8px
    }
    #nav .menus_items {
        position: relative;
        left: 0;
        right: 0
    }
    
    #nav .menus_items .menus_item {
        padding: 0 .2rem
    }
    
    #menus>div.menus_items>div>a {
        padding-left: 1.5rem;
        font-weight: bold;
        font-size: 18px;
    }

    #menus>div.menus_items>div.menu_item>a.site-page>span{
        font-family: 'roboto',cursive !important ;   
    } 

    #page-header #nav #nav-dark{
        position:absolute;
        top:14px;
        right: 40px;
    }

    #nav.hide-menu #toggle-menu{
        top:10px;
        right:40px;
    }



    /*页脚*/
    #footer {
        background: rgba(255,255,255,.15);
        color: #000;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        backdrop-filter: saturate(100%) blur(5px)
    }
    
    #article-container img{
        margin: 0;
    }

    #footer::before {
        background: rgba(255,255,255,.15)
    }
    
    #footer #footer-wrap {
        color: var(--font-color)
    }
    
    #footer #footer-wrap a {
        color: var(--font-color)
    }


    /*文字样式*/

    .item-headline a{
        font-family: 'roboto',"HarmonyOS_Regular",'Candy';
    }
    .card-widget.card-info{
        font-family: 'roboto',"HarmonyOS_Regular";
    }

    /* #aside-content .card-info .author-info__name{
        font-family: 'Candy',auto;
        font-weight: bold;
    } */


    /* #aside-content .card-info .author-info__description {
        font-family:'Candy','xiangsu',auto;
        font-weight: bold;
      } */

    a#site-name {
        font-family: 'roboto',"HarmonyOS_Regular",'Candy','xiangsu','zc', 'FontAwesome', cursive !important;
    }
    h1#site-title{
        font-family: 'roboto',"HarmonyOS_Regular",'Candy','zc',楷体;
    }
    

    span#blog_name{
        font-family: 'roboto',"HarmonyOS_Regular",'Candy','xiangsu','zc', 'FontAwesome', cursive;
    }



    a{
        font-family: 'roboto',"HarmonyOS_Regular",'xiangsu',楷体,'zc', 'FontAwesome', cursive;
        font-weight: bold;
        color: #4c4948;
    }


    span{
        font-family: 'roboto',"HarmonyOS_Regular",'Candy','xiangsu',楷体,'zc', 'FontAwesome', cursive;
        font-weight: bold;
    }

    body{
        font-family: 'roboto',"HarmonyOS_Regular",'xiangsu',楷体,'zc', 'FontAwesome', cursive;
        font-weight: bold;
    }

    mytag{
        font-family: 'roboto',"HarmonyOS_Regular",'xiangsu','zc', cursive;
        font-weight: bold;
    }

    cnt{
        font-family: 'roboto',"HarmonyOS_Regular",'xiangsu',楷体,'zc',cursive;
        font-weight: bold;
        color:#A9BFE3;
        font-size: 30px;
    }

    #local-search .search-dialog .local-search-box input{
        font-weight: bold;
    }


    cnt1{
        font-family: 'roboto',"HarmonyOS_Regular",'xiangsu',楷体,'zc',cursive;
        font-weight: bold;
    }

    @media screen and (min-width:776px) {
        #rightside button{
            margin-right: 8px;
        }
        #rightside > div > button, #rightside > div > a{
            margin-bottom: 5px;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            font-size: 20px;
        }
        #rightside #rightside-config-hide{
          transform: translate(55px, 0);
        }
        #rightside{
            right:-30px;
        }
    }

    #operare_artitalk .at_button, #artitalk_main .at_button{
        font-family: 'roboto',"HarmonyOS_Regular",'xiangsu',楷体;
        font-weight: bold;
        background-color: white !important;
        color:#A9BFE3 !important;
        font-size: 16px !important;
    }

    #artitalk_main .shuoshuo_text {
        font-weight: bold;
    }

    .v[data-class=v] .veditor{
        font-weight: bold;
    }

    .v[data-class=v] .vheader input{
        font-weight: bold;
    }

    #artitalk_main .cbp_tmtimeline>li .cbp_tmlabel{
        font-family: 'roboto',"HarmonyOS_Regular",'xiangsu',楷体;
        font-weight: bold !important;
    }

    .v[data-class=v] .vinfo button {
        font-weight: bold;
    }

    .fa-add:before, .fa-plus:before {
        content: "\2b"!important;
    }

    /*嘉然*/
    .pio-action .pio-home {
        display: none !important;
    }
    .pio-action .pio-close {
        display: none !important;
    }
    .pio-action .pio-info {
        display: none !important;
    }
    .pio-action .pio-night {
        display: none !important;
    }
    /*鼠标样式*/
    /* 全局默认鼠标指针 
    body,
    html{
    cursor: url('https://jsdelivr.pai233.top/gh/Wadehl/web-data/mouse/light/pointer.cur'),auto !important;
    }*/

    /* 鼠标样式 */
    /*body {
    cursor: url(https://jsdelivr.pai233.top/gh/Wadehl/web-data/mouse/light/pointer.cur),
      default;
    }
    a,img {
    cursor: url(https://jsdelivr.pai233.top/gh/Wadehl/web-data/mouse/light/link.cur),
      default;
    }*/

    /* .card-widget.card-announcement {
        background: url(https://jsdelivr.pai233.top/gh/rigodlee/BLOGCDN/img/20200530181856.gif) !important;
    }

    #aside-content .card-info .author-info__description{
        background: url(https://jsdelivr.pai233.top/gh/rigodlee/BLOGCDN/img/H3342af90d24b4d62b9bbfec9688ccc25M.gif);
    } */


    /*颜色修改*/
    /*#nav #site-name{
        color:#FFC0BE  !important;
    }*/
/* 
    .icon-outline-lovely:before{
        color:red ;
    }

    .icon-jia:before{
        color:darkorange;
    }

    .icon-vuesax-outline-archive:before{
        color:lightseagreen;
    }

    .icon-child:before{
        color:orangered;
    }

    .icon-outline-user-tag:before{
        color:cornflowerblue;
    }

    .icon-dog:before{
        color: #a9bfe3;
    }

    .icon-cat::before{
        color:#ffc0be;
    }

    .icon-chat:before{
        color:lightseagreen;
    }

    .icon-vuesax-outline-instagram:before{
        color:orangered;
    }

    .icon-kebiao:before{
        color:darkgoldenrod;
    }

    .icon-vuesax-outline-task-square:before{
        color:cadetblue;
    }

    .icon-fenlei:before{
        color:dodgerblue;
    }

    /*.fa-tags:before{
        color:sandybrown;
    }

    .icon-tag::before{
        color:sandybrown;
    }

    .icon-music:before{
        color:red;
    }

    .icon-outline-lock-circle:before{
        color:crimson;
    }

    #nav a{
        color: #777 !important;
    }*/
    .fa-search:before{
        color:lightskyblue !important;
    } 

    .fa-adjust:before{
        color:#ffa516 !important;
    }


    div#runtime{
        color: #535150 !important;
        background-color: transparent !important;
    }

    .icon-pikachu:before{
        font-size: xxx-large;
    }


    



    [data-theme='dark'] a{
        color: #FFFFFFB3 !important;
    }

    [data-theme='dark'] #he-plugin-simple[data-v-41ba7e2c]{
        color:#FFFFFFB3;
    }

    /*标题图标修改*/
    /* #article-container.post-content h1:before, #article-container.post-content h4:before{
        font-family: 'iconfont';
        content: '\f233';
    }

    #article-container.post-content h2:before, #article-container.post-content h5:before{
        font-family: 'iconfont';
        content: '\e601'
    }

    #article-container.post-content h3:before, #article-container.post-content h6:before{
        font-family: 'iconfont';
        content: '\f234'
    } */
    /* 文章页H1-H6图标样式效果 */
    h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
        -webkit-animation: ccc 1.6s linear infinite ;
        animation: ccc 1.6s linear infinite ;
    }
    @-webkit-keyframes ccc {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg)
        }
        to {
            -webkit-transform: rotate(-1turn);
            transform: rotate(-1turn)
        }
    }
    @keyframes ccc {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg)
        }
        to {
            -webkit-transform: rotate(-1turn);
            transform: rotate(-1turn)
        }
    }
    h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
        -webkit-animation: ccc 1.6s linear infinite ;
        animation: ccc 1.6s linear infinite ;
    }
    @-webkit-keyframes ccc {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg)
        }
        to {
            -webkit-transform: rotate(-1turn);
            transform: rotate(-1turn)
        }
    }
    @keyframes ccc {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg)
        }
        to {
            -webkit-transform: rotate(-1turn);
            transform: rotate(-1turn)
        }
    }
    #content-inner.layout h1::before {
        color: #ef50a8 ;
        margin-left: -1.55rem;
        font-size: 1.3rem;
        margin-top: -0.23rem;
    }
    #content-inner.layout h2::before {
        color: #fb7061 ;
        margin-left: -1.35rem;
        font-size: 1.1rem;
        margin-top: -0.12rem;
    }
    #content-inner.layout h3::before {
        color: #ffbf00 ;
        margin-left: -1.22rem;
        font-size: 0.95rem;
        margin-top: -0.09rem;
    }
    #content-inner.layout h4::before {
        color: #a9e000 ;
        margin-left: -1.05rem;
        font-size: 0.8rem;
        margin-top: -0.09rem;
    }
    #content-inner.layout h5::before {
        color: #57c850 ;
        margin-left: -0.9rem;
        font-size: 0.7rem;
        margin-top: 0.0rem;
    }
    #content-inner.layout h6::before {
        color: #5ec1e0 ;
        margin-left: -0.9rem;
        font-size: 0.66rem;
        margin-top: 0.0rem;
    }
    #content-inner.layout h1:hover, #content-inner.layout h2:hover, #content-inner.layout h3:hover, #content-inner.layout h4:hover, #content-inner.layout h5:hover, #content-inner.layout h6:hover {
        color: #49b1f5 ;
    }
    #content-inner.layout h1:hover::before, #content-inner.layout h2:hover::before, #content-inner.layout h3:hover::before, #content-inner.layout h4:hover::before, #content-inner.layout h5:hover::before, #content-inner.layout h6:hover::before {
        color: #49b1f5 ;
        -webkit-animation: ccc 3.2s linear infinite ;
        animation: ccc 3.2s linear infinite ;
    }
    /* 页面设置icon转动速度调整 */
    #rightside_config i.fas.fa-cog.fa-spin {
        animation: fa-spin 5s linear infinite ;
    }

    /*botui*/
    #card-widget>card-botui{
        background: #d1e6fa ;
    }


    /*页脚*/
    @media screen and (max-width:776px){
        div#crowd {
            display: none;
        }
        div#footercopy {
            display: none;
        }
    }

    @media screen and (min-width:780px){
        div#footer-wrap{
            display: none;
        }
    }

/*标签页,分类页*/
/* 分类目录条、标签目录条 */
.tag-cloud-list a {
    margin: 6px 13px;
    border-radius: 9px;
    background: #f2f6fc;
}
#catalog-bar {
    padding: 0.4rem 0.8rem;
    border-radius: 8px;
    display: flex;
    border: var(--card-border);
    margin-bottom: 1rem;
    justify-content: space-between;
  }
  
  #catalog-bar:hover {
    border-color: var(--main);
  }
  
  #catalog-bar i {
    line-height: inherit;
  }
  
  #catalog-list {
    /* 分类/标签较少时，可以选择不设置 width，居中显示 catalog-list-item */
    width: 100%;
    margin: 0 0.5rem;
    display: flex;
    white-space: nowrap;
    overflow-x: scroll;
  }
  
  #catalog-list::-webkit-scrollbar {
    display: none;
  }
  
  .catalog-list-item a {
    padding: .3rem;
    font-weight: bold;
    border-radius: 8px;
    color: var(--font-color);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
  }
  
  .catalog-list-item:hover a {
    background: var(--main);
    color: var(--second);
  }
  
  .catalog-list-item.selected a {
    background: var(--light-text);
    color: var(--second);
    border-radius: 8px;
  }
  
  a.catalog-more {
    min-width: fit-content;
    font-weight: bold;
    color: var(--font-color);
  }
  
  a.catalog-more:hover {
    color: var(--main);
  }